<!DOCTYPE html>
<html>
<head>
  <title>MixMatch Your Style!</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <link rel="stylesheet" type="text/css" href="assets/main.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="scripts/jquery.pep.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h2>Fashion MixMatch</h2>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
  </header>
  <main class="mdl-layout__content">

    <div id="app">
      <div class="mdl-grid" droppable="false">
        <div class="mdl-cell mdl-cell--3-col drop-target droppable-area" droppable="true" v-for="bla in 3">
          <center><h4>Drop Area</h4></center>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          This is a simple demo for a drag-and-drop image feature using jquery pep & vuejs. Image data are taken from imgur API.
        </div>
      </div>
      <div class="mdl-grid" droppable="false">
        <p v-if="images.length === 0">Loading images from imgur...</p>
        <div class="mdl-cell mdl-cell--2-col" v-for="image in images">
          <div class="mdl-cell">
            <img draggable="false" width="200px" class="pep" :src="image">
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

</body>

<script type="text/javascript" src="scripts/main.js"></script>

</html>